meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fundamentos del vestuario I
meta(meta name="description" content="Es importante que el aprendiz SENA, en el momento de ingresar a su formación clarifique los elementos fundamentales que formarán parte integral como Tecnólogo en Desarrollo de Colecciones para la Industria de la Moda, teniendo presente que la industria de la moda es una de las actividades comerciales con la mayor confluencia de diferentes sectores económicos y que tiene una fuerte incidencia en entornos como la sociedad, la religión, la política, la cultura y el comercio.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")