.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td Desconocido. (s.f), Proyecto graduación Universidad de Palermo 631.
                    td Pdf
                    td 
                        a(href="https://fido.palermo.edu/servicios_dyc/proyectograduacion/archivos/631.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Guillen, A. (2014). Trabajo Final de Grado: Indumentaria Prêt-à-porter. Articulación con valores de Alta costura. Universidad de Palermo.
                    td Pdf
                    td 
                        a(href="https://fido.palermo.edu/servicios_dyc//proyectograduacion/archivos/2826.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Museo del traje. (2018). Trajes españoles del siglo XVIII.
                    td Pdf
                    td 
                        a(href="http://museodetrajes.com.co/wp-content/uploads/2018/11/Trajes-espa%C3%B1oles-del-siglo-XVIII.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Tevisto.com (2017). Diccionario de la moda.
                    td Pdf
                    td 
                        a(href="https://www.tevisto.com/blog/wp-content/uploads/2017/10/diccionario-de-la-moda.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Torales, E. y Meyer, M. (Sin fecha). Elementos y principios del diseño: Diseño de Indumentaria Urbana I.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_11_Elemetos_y_principios_del_diseno.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver